/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    margin: 0;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

/* block-1  */
.block-1-hero {
    background: linear-gradient(rgb(255 255 255 / 85%), rgb(255 255 255 / 79%)), url(https://images.prom.ua/4791214081_opalyuvalna-pich-rud.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}
.block-1-title {
    color: #0d2d16;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #fede08;
}

.block-1-title:hover, .block-1-title:focus, .block-1-title:active {
    color: #3ea55a;
    border-bottom: 1px solid #3ea55a;
}
.block-1-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 280px;
    margin: 0 auto;
}

.block-1-subtitle {
    color: #0d2d16;
    font-size: 28px;
    line-height: 1.2;
}
.block-1-descr-top {
    font-size: 18px;
}
.block-1-descr {
    font-size: 15px;
}

.block-1-btn {
    background-color: #fede08;
    padding: 15px;
    color: #0d2d16;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 15px;
}
.block-1-btn:hover, .block-1-btn:focus, .block-1-btn:active {
    background-color: #0d2d16;
    color: white;
}
.block-1-photo {
    display: none;
}

@media screen and (min-width:320px) {
    .container {
        width: 320px;
    }
    
}
@media screen and (min-width:768px) {
    .container{
        width: 768px;
        padding: 15px 32px;
    }
    .block-1-hero {
        background: none;
    }
    .block-1-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .block-1-text {
        margin: 0;
        width: 100%;
        gap: 30px;
    }
    .block-1-subtitle {
        font-size: 32px;
    }
    .block-1-descr {
        font-size: 16px;
    }
    .block-1-btn {
        width: 260px;
        font-size: 18px;
    }
    .block-1-photo {
        display: block;
        width: 280px;
    }
}
@media screen and (min-width:1280px) {
    .container {
        width: 1280px;
    }
}