/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    margin: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
.bold {
    font-weight: 900;
    font-size: 25px;
}

/* block-1  */
.block-1-hero {
    background: linear-gradient(rgb(255 255 255 / 85%), rgb(255 255 255 / 79%)), url(https://images.prom.ua/4791214081_opalyuvalna-pich-rud.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
.block-1-title {
    color: #0d2d16;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #0d2d16;
    text-transform: uppercase;
}

.block-1-title:hover, .block-1-title:focus, .block-1-title:active {
    border-bottom: 1px solid #fede08;
}
.block-1-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 280px;
    margin: 0 auto;
}

.block-1-subtitle {
    color: #0d2d16;
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
}
.block-1-descr-top {
    font-size: 18px;
}
.block-1-descr {
    font-size: 15px;
}

.block-1-btn {
    background-color: #fede08;
    text-transform: uppercase;
    padding: 15px;
    color: #0d2d16;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 27px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.block-1-btn:hover, .block-1-btn:focus, .block-1-btn:active {
    background-color: #0d2d16;
    color: white;
}
.block-1-photo {
    display: none;
}

/* block-2 */
.block-2-pluses {
    background-color: #f9f9f9;
    padding-top: 30px;
    padding-bottom: 30px;
}

.common-block-2 {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
}

.block-2-title {
    display: flex;
    flex-direction: column;
    color: #0d2d16;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}

.block-2-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block-2-item {
    border-radius: 82px 5px 5px 5px;
    border: 1px solid #ebebeb;
    border-bottom: 4px solid #ebebeb;
    background: #fff url(https://internetsolution.com.ua/Pictures/otoplenie/18.png);
    padding: 26px 10px;
    background-size: cover;
    background-position: center;
    transition: border-bottom 0.5s ease;
}
.block-2-item:hover, .block-2-item:focus, .block-2-item:active {
    border-bottom: 4px solid #fede08;
}
.block-2-top-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.block-2-img-wrap {
    background: #348b4c;
    border-radius: 50%;
    padding: 20px;
}
.block-2-img {
    transition: all 1s ease;
}
.block-2-item:hover .block-2-img {
    transform: rotateY(360deg);
}

.block-2-subtitle {
    font-size: 21px;
    color: #0d2d16;
}

.block-2-descr {
    font-size: 16px;
}
.link {
    color: #fc9904;
    font-weight: bold;
}
/* block-3 */
.block-3-ordering {
    padding-top: 30px;
    background: #02d216 url(https://internetsolution.com.ua/Pictures/otoplenie/80.png);
    background-size: cover;
    background-position: center;
}

.block-3-title {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.bold-3 {
    font-size: 24px;
    color: white;
}

.block-3-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.block-3-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.block-3-img {
    transition: all 0.8s;
}
.block-3-item:hover .block-3-img, .block-3-item:focus .block-3-img, .block-3-item:active .block-3-img {
    transform: rotate(720deg);
}

.block-3-subtitle {
    color: white;
}

.block-3-descr {
    color: white;
    text-align: center;
}
.block-3-btn:hover {
    background-color: #348b4c;
}
/* block-4 */
.block-4-question {
    padding-top: 30px;
    padding-bottom: 30px;
}
.block-4-title {
    text-align: center;
}
.faq-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-item {
    text-align: center;
}

.faq-question {
    padding: 10px;
    background-color: #0d2d16;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #00000052;
    transition: all .5s ease-in-out;
}
.faq-question:hover, .faq-question:focus, .faq-question:active {
    color: #fede08;
    transform: scaleY(1.1);
}
.faq-question:hover span,
.faq-question:focus span, .faq-question:active span {
    color: #fede08;
}
.block-4-span {
    color: #f9f9f9;
    transition: all .5s ease-in-out;
}

.faq-answer {
    display: none;
    padding: 10px;
    background-color: #eeecec;
    color: #0d2d16;
    border-radius: 8px;
    border: 2px solid #0d2d16;
}

.faq-item input[type="checkbox"]:checked+.faq-question+.faq-answer {
    display: block;
}

@media screen and (min-width:320px) {
    .container {
        width: 320px;
    }
    
}
@media screen and (min-width:768px) {
    .container{
        width: 768px;
        padding: 15px 32px;
    }
    .block-1-hero {
        background: none;
    }
    .block-1-info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .block-1-text {
        margin: 0;
        width: 100%;
        gap: 30px;
    }
    .block-1-subtitle {
        font-size: 32px;
    }
    .block-1-descr {
        font-size: 16px;
    }
    .block-1-btn {
        width: 260px;
    }
    .block-1-photo {
        display: block;
        width: 280px;
    }
    /* block-2 */
    .block-2-pluses {
        padding-top: 30px;
    }
    .common-block-2 {
        width: 100%;
    }
    .block-2-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
    }
    .bold {
        padding-right: 10px;
        font-size: 28px;
    }
    .block-2-list {
        column-gap: 24px;
        row-gap: 52px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .block-2-item {
        width: calc((90% - 24px) / 2);
        padding: 26px 15px;
    }
    .block-2-btn{
        margin: 0 auto;
    }
/* block-3 */
    .block-3-list {
        column-gap: 24px;
        row-gap: 52px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .block-3-item {
        width: calc((90% - 24px) / 2);
    }
}
@media screen and (min-width:1280px) {
    .container {
        width: 1280px;
        padding: 30px 45px;
    }
    .block-1-text {
        gap: 40px;
        justify-content: center;
        width: 765px;
    }
    .block-1-subtitle {
        font-size: 36px;
    }
    .block-1-descr-top {
        font-size: 22px;
    }
    .block-1-descr {
        font-size: 18px;
    }
    .block-1-photo {
        width: 450px;
    }
/* block-2 */
    .block-2-title {
        font-size: 32px;
        flex-direction: row;
    }
    .bold {
        font-size: 36px;
    }
    .block-2-item {
        padding: 36px 30px;
    }
    .block-2-subtitle {
        font-size: 28px;
    }
    .block-2-descr {
        font-size: 18px;
    }
}